<script src="../scripts/Controllers/Food.js"></script>
<script src="../scripts/Controllers/Entryfood.js"></script>
<div class="container-fluid text-white">
  <h3>Custom Food</h3>
  <form>
    <div class="row">
      <div class="form-group col-2">
        <label for="foodName">Name:</label>
        <input type="text" class="form-control bg-dark text-white" id="name" name="foodName">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-2">
        <label for="kcalInput">Kcal</label>
        <input type="number" class="form-control bg-dark text-white" id="kcalInput" name="kcalInput">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-2">
        <label for="proteinInput">Protein</label>
        <input type="number" class="form-control bg-dark text-white" id="proteinInput" name="proteinInput">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-2">
        <label for="proteinInput">Carbo</label>
        <input type="number" class="form-control bg-dark text-white" id="pwd" name="kcalInput">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-2">
        <label for="fatInput">Fat</label>
        <input type="number" class="form-control bg-dark text-white" id="fatInput" name="fatInput">
      </div>
    </div>
    <button type="button" class="btn btn-info" onclick="entryFood(this.form)">Add</button>
  </form>
</div>

<br><br><br>

