
        <div class="row">
            <div class="col-2">
                <div class="bg-dark input-group input-group-sm mb-3">
                    <input type="number" class="form-control text-white" placeholder="Weight">
                    <div class="input-group-append">
                    <span class="input-group-text bg-dark text-secondary" id="basic-addon2">Kg</span>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="bg-dark input-group input-group-sm mb-3">
                    <input type="number" class="form-control" placeholder="Height">
                    <div class="input-group-append">
                    <span class="input-group-text bg-dark text-secondary" id="basic-addon2">Cm</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <div class="bg-dark input-group input-group-sm mb-3">
                    <input type="number" class="form-control" placeholder="Age">
                    <div class="input-group-append">
                    <span class="input-group-text bg-dark text-secondary" id="basic-addon2">Years</span>
                </div>
            <div class="col-2">
                <button class="btn btn-sm btn-dark">confirm</button>
            </div>
        </div>
</div>
